body {
  padding: 0px !important;
  margin: 0px !important;
  overflow-x: hidden !important;
  list-style-type: none;
  font-family: "Sora", sans-serif !important;
}

:root {
  --olive: #769962;
  --olive-light: #6d8161ed;
  --main: #f7edde;
  --white: #fff;
  --khaki-bg: #e1d9cde8;
  --khaki-light: #cdc2b4e8;
  --grey: #282d32;
}

p {
  color: #a4a29e !important;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif !important;
}

h1 {
  color: var(--olive);
}
.heading {
  text-transform: uppercase;
}

.no-repeat {
  background-repeat: no-repeat;
}

.bg-white {
  background-color: var(--white);
}

/* NAVBAR */
.navbar {
  background-color: #000000;
  color: var(--white) !important;
}

.navbar-brand {
  color: var(--white) !important;
}

.nav-items li a {
  color: var(--white) !important;
  text-decoration: none !important;
  padding: 20px;
}

.buy-btn {
  background-color: var(--olive);
  color: var(--white) !important;
  border-radius: 20px;
  border: 1px solid var(--olive);
  padding: 6px;
  padding-left: 25px;
  padding-right: 25px;
}
.buy-btn:hover {
  background-color: var(--white);
  color: var(--olive) !important;
  border: 1px solid var(--olive);
}
.buy-btn a:hover {
  color: var(--olive) !important;
}

/* HEADER SECTION    */
.header-section {
  background-image: url("imgs/header-bg.png");
  height: 100vh !important;
  background-color: var(--main) !important;
}

.row-1 {
  height: 100vh !important;
  display: grid;
  justify-content: space-between !important;
}

.home-img {
  width: 500px;
  height: 500px;
}

.main-heading {
  font-size: 70px;
  color: var(--olive);
}

.btn-2 {
  border-radius: 0px !important;
}

/* PRODUCT SECTION   */
.product-section {
  background-image: url("imgs/product-bg.png");
}

.product-img {
  padding: 8%;
  height: 400px;
  width: 320px;
}
.hover-khaki:hover {
  background-color: var(--khaki-bg);
  transform: scale(0.95);
}

/* ABOUT SECTION  */
.about-section {
  background-image: url("imgs/about-bg.png");
}

.product-type {
  background-color: var(--khaki-light);
  height: 310px;
  width: 260px;
  color: var(--white);
}

.about-cont-img {
  height: 300px;
  width: 330px;
}
.porcelain-content {
  text-align: justify;
}
.ceramic-content {
  text-align: justify;
}
.earthen-content {
  text-align: justify;
}
.stoneware-content {
  text-align: justify;
}
.about-a:hover{
text-decoration: underline!important;
}


/* PRICING SECTION    */
.price-section {
  background-image: url("imgs/pricing-bg.png");
}

/* .olive-bg {
  background-color: var(--olive);
} */
.price-card {
  height: 230px !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  width: 100px !important;
  margin: 30px;
  border: 2px solid var(--olive-light) !important;
}
.card-1 {
  max-width: 70% !important;
}
.card-2 {
  max-width: 70% !important;
}

.price-card li {
  letter-spacing: 1px;
  padding: 2px !important;
  /* text-align: left; */
}

/* FAQ SECTION   */
.faq-section {
  background-image: url("Imgs/faq-img.png");
}
/* HIGHLIGHT SECTION   */
.highlight-section {
  background-image: url("imgs/highlight-bg.png");
}
.layout-img {
  height: 280px;
  width: 350px;
}

/* FOOTER SECTION    */

/* CARDS CSS:  */
.olive-bg {
  background-color: var(--olive);
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 25px;
  left: 150px;
}
.border-olive {
  border: 10px solid var(--olive) !important;
}

@media only screen and (max-width: 867px) {
  .highlight-section {
    flex-direction: column !important;
  }
  .layout-img {
    height: 350px;
    width: 400px;
  }
  .right-cont {
    width: 75%;
    text-align: justify;
  }
}

@media only screen and (max-width: 707px) {
}

/* NEW FOOTER CSS */
.footer {
  padding: 40px 0;
  color: #fff;
  background-color: #282d32;
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: #fff;
}

.footer .social a {
  font-size: 24px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}

.footer .social a:hover {
  opacity: 0.9;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer ul a:hover {
  opacity: 1;
}

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}

@media screen and (max-width: 658px) {
  .buy-btn {
    display: none;
  }
  .nav-items li {
    margin-right: -4% !important;
  }
  .nav-items li {
    padding: 10px !important;
  }
  .faq-section {
    background-image: url();
  }
}

@media screen and (max-width: 1140px) {
  .about-section-content {
    display: flex;
    flex-direction: column;
    margin: 5px;
  }
  .margin-5 {
    margin: 5px !important;
  }
  .ceramic {
    background-color: var(--khaki-light) !important;
  }
  .porcelain {
    background-color: var(--khaki-light) !important;
  }
  
  
  * {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 1315px) {
  .col--1{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 2%;
  }
  .hover-khaki{
    width: 50%!important;
    align-items: center;

  }
  .product-img{
    height: 350px;
    width: 360px;
  }
}

@media screen and (max-width: 1380px) {
  .right--cont {
    width: 100% !important;
    text-align: justify;
  }
  * {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .main-heading {
    font-size: 58px;
    width: 100% !important;
    margin-top: 20%;
    align-items: center;
  }
  .home-img {
    width: 430px;
    height: 380px;
  }
}

@media screen and (max-width: 1695px) {
  * {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}
@media screen and (max-width: 1180px) {
  .main-heading {
    font-size: 46px;
    width: 100% !important;
  }
}
@media screen and (max-width: 945px) {
  .main-heading {
    font-size: 36px;
    width: 100% !important;
  }
}
@media screen and (max-width: 750px) {
  .main-heading {
    font-size: 26px;
    letter-spacing: 2;
    width: 100% !important;
  }
}
@media screen and (max-width: 785px) {
  .col--1{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 2%;
  }
  .hover-khaki{
    width: 50%!important;
    align-items: center;

  }
  .product-img{
    height: 350px;
    width: 330px;
    margin-left: -5%;
  }
}
@media screen and (max-width: 708px) {
  .buy-btn {
    display: none;
  }
  .nav-items li {
    margin-right: -2% !important;
  }
  .nav-items li {
    padding: 6px !important;
  }
 
}
@media screen and (max-width: 650px) {
  .main-heading {
    font-size: 26px;
    letter-spacing: 2;
    width: 100% !important;
  }
  .row-1 {
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    /* height: 100% !important; */
  }
  .home-img {
    margin-top: 20% !important;
    width: 300px;
    height: 280px;
  }
}
